<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" type="text/css" href={{ url_for("static", filename="bootstrap/css/bootstrap.css")}} />
    <link rel="stylesheet" type="text/css" href={{ url_for("static", filename="font-awesome-4.5.0/css/font-awesome.css")}} />
    <link rel="stylesheet" type="text/css" href={{ url_for("static", filename="bootstrap-social/bootstrap-social.css")}} />
    <link rel="stylesheet" type="text/css" href={{ url_for("static", filename="style.css")}} />
    <style>
    .flashes li {
      width: 70%; /* extra  */
    }
    </style>
    <title>{{ title }}</title>
    {% endblock %}
  </head>

  <body style='margin: 1%'>
{# these are supposed to be be left/right aligned
   which is actually sort of tricky
https://stackoverflow.com/questions/727958/what-is-the-best-way-to-left-align-and-right-align-two-div-tags
http://www.w3schools.com/css/css_align.asp

display: inline-block; width: 50%; position: relative; left: 0
#}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes style='display: inline-block; width: 50%; position: relative; left: 0'>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

    <nav id='controls' style='display: inline-block; width: 48%; position: relative; right: 0; text-align: right'>
    {% block nav %}
      {% if g.current_user %}
       <a href={{ g.PROVIDERS[g.current_user.provider].link(g.current_user.userid) }}>
        {% if g.current_user.avatar %}
          <img alt='{{ g.current_user.display_name }}' title='{{ g.current_user.display_name }}' src='{{ g.current_user.avatar }}' />.
        {% else %}
          {{ g.current_user.display_name }}
        {% endif %}
       </a>
       <form action={{ url_for("logout") }} method='POST'><button style='background: none; border: none'>Logout</button></form>
      {% else %}
        <a href={{ url_for("login") }}>Login</a>.
      {% endif %}
    {% endblock %}
    </nav>

    <div id="content">
    <h1>{% block title %}{% endblock %}</h1>
    {% block content %}{% endblock %}
    </div>
    
    <div id="footer" style='text-align: right'>
      {% block footer %}
      &copy; Copyright 2015 by <a href="http://kousu.ca/">Kousu Cashew</a>.
      {% endblock %}
    </div>
  </body>
</html>



