<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" type="text/css" href={{ url_for("omniauthstatic", filename="bootstrap/css/bootstrap.css")}} />
    <link rel="stylesheet" type="text/css" href={{ url_for("omniauthstatic", filename="font-awesome-4.5.0/css/font-awesome.css")}} />
    <link rel="stylesheet" type="text/css" href={{ url_for("omniauthstatic", filename="bootstrap-social/bootstrap-social.css")}} />
    <link rel="stylesheet" type="text/css" href={{ url_for("omniauthstatic", filename="style.css")}} />
    <style>
    .flashes li {
      width: 70%; /* extra  */
    }
    </style>
    <title>{{ title }}</title>
    {% endblock %}
  </head>

  <body style='margin: 1%'>
{# these are supposed to be be left/right aligned
   which is actually sort of tricky
https://stackoverflow.com/questions/727958/what-is-the-best-way-to-left-align-and-right-align-two-div-tags
http://www.w3schools.com/css/css_align.asp

display: inline-block; width: 50%; position: relative; left: 0
#}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes style='display: inline-block; width: 100%; position: relative; left: 0'>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

    <nav id='controls' style='display: inline-block; width: 100%; position: relative; padding-right: 2em; text-align: right'>
    <!-- current_user = {{ current_user }} <!-- debug -->
    {% block nav %}
      {% if current_user.is_authenticated %}
      {% if current_user.url %} <a href="{{ current_user.url }}"> {% endif %}
        {% if current_user.avatar %}
          <img style="max-width: 2em; max-height: 2em" alt='{{ current_user }}' title='{{ current_user }}' src='{{ current_user.avatar }}' />
        {% else %}
          {{ current_user }}
        {% endif %}
      {% if current_user.url %}</a>{% endif %}
       <form style="display: inline-block" action={{ url_for("logout") }} method='POST'><button style='border-radius: 0.5em; border: 0.3em double; background: lightblue;'>Logout</button></form>
      {% else %}
        <a href="{{ url_for("login") }}">Login</a>
      {% endif %}
    {% endblock %}
    </nav>

    <div id="content">
    <h1>
      {% block title %}{% endblock %}
    </h1>
    {% block content %}{% endblock %}
    </div>
    
    <div id="footer" style='text-align: right; margin: 1em'>
      {% block footer %}
      &copy; Copyright 2015 by <a href="http://kousu.ca/">Kousu Cashew</a>.
      {% endblock %}
    </div>
  </body>
</html>



