{% extends "flask_omniauth/_dialog.html" %}

{% block title %}
Login with Email
{% endblock %}

{% block content %}


  {% if mode != "sent" %}
  <p>If you identify yourself this way, your address will be published.</p>
  <p>To change your display name later, revalidate your address.</p>
  <form method="POST" action="{{action}}">
   <!-- XXX this should really have CSRF protection -->
     <div><input style='width: 100%' name="id" type="text" placeholder="Email Address"></div>
     <div><input style='width: 100%' name="name" type="text" placeholder="Display name (optional)"></div>
     <div style='text-align: center'><button>Send confirmation email</button></div>
  </form>
  {% else %}
    <h3>Verification email sent to <strong>{{id}}</strong>.</h3>
    <p>Verification links are only good for 48 hours.</p>
  {% endif %}

{% endblock %}

