{% extends "flask_omniauth/_dialog.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}
  <style>
  /* Bootstrap Social is built upon and uses the, FontAwesome icons ids
     but there are some fa-{{id}} classes with no matches btn-{{id}}.

     So these monkey-patch bootstrap-social.
   */
  .btn-sign-in {
      color: #fff;
      background-color: #28e3a7;
      border-color: rgba(0,0,0,0.2);
  }
  .btn-envelope {
      color: #fff;
      background-color: #8c7e6e;
      border-color: rgba(0,0,0,0.2);
  }
  .btn-mobile {
      color: #fff;
      background-color: #fcef0e;
      border-color: rgba(0,0,0,0.2);
  }
  .btn-barcode {
      color: #fff;
      background-color: #a49a8e;
      border-color: rgba(0,0,0,0.2);
  }
  </style>
  <!-- beware: some ad-blockers, like Fanboy's Annoyance List, block the bootstrap-social CSS here -->
  <h3 style='text-decoration: underline'>Choose how you want to be known</h3>
  {% for p in providers %}
    <a class="btn btn-block btn-social btn-lg btn-{{ p.icon }}" href="{{ url_for("login", provider=p.__name__.lower()) }}">
      <span class="fa fa-{{p.icon}}"></span>Login with {{ p.name }}
   </a>
  {% endfor %}
{% endblock %}


