{% extends "flask_omniauth/_dialog.html" %}

{% block title %}
Login with Mobile Phone
{% endblock %}

{% block content %}
  <form method="POST" action="{{action}}">
  {% if mode == "get_id" %}
    <p>If you identify yourself this way, your phone number will be published.</p>
   <!-- XXX this should really have CSRF protection -->
     <div><input style='width: 100%' name="id" type="text" placeholder="Phone number"></div>
     <div><input style='width: 100%' name="name" type="text" placeholder="Display name (optional)"></div>
     <div style='text-align: center'><button>Send oath code</button></div>
  {% elif mode == "get_oath" %}
  <p>When the oath code arrives at your phone, enter it here.</p>
     <div><input style='width: 100%' name="oath" type="text" placeholder="6-digit oath code"></div>
     <div style='text-align: center'><button>Login</button></div>
  <p>Note: the oath code is only good for 2 minutes.
     If your phone does not receive it within that time you will need to <a href="{{request.url}}"> ask for a new one</a>.</p>
  {% endif %}
  </form>

{% endblock %}

