{% extends "flask_omniauth/_dialog.html" %}

{% block title %}
Login With OpenID
{% endblock %}

{% block content %}

  <p>Enter your OpenID URL below.</p>
  <form method="POST" action="{{action}}">
   <!-- XXX this should really have CSRF protection -->
     
     <div><input style='width: 100%' type="text" placeholder="https://you.example.com"></div>
     <div><input style='width: 100%' name="name" type="text" placeholder="Display name (optional)"></div>
     <button>Login</button>
  </form>
{% endblock %}


