<!doctype html>
<html>
  <head>
    {% block head %}
    <!-- site stylesheet -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='epiceditor/themes/preview/github.css') }}">

    <!-- jQuery -->
    <script type="text/javascript" src="{{url_for("static", filename="js/jquery.js")}}"></script>

    <!-- jQuery-UI -->
    <script type="text/javascript" src="{{url_for("static", filename="js/jquery-ui/jquery-ui.js")}}"></script>
    <link rel="stylesheet" href="{{url_for("static", filename="js/jquery-ui/jquery-ui.css")}}">
    <link rel="stylesheet" href="{{url_for("static", filename="js/jquery-ui/jquery-ui.theme.css")}}">

    <!-- Modernizr -->
    <!-- modernizr is fucking stupid now: there's no way to get a build with all the features, you have to explicitly click in the ones you are using and rebuild them. Sure it's fast in the end, but this is terrible for dev -->
    <script type="text/javascript" src="{{url_for("static", filename="js/modernizr-custom.js")}}"></script>


    <title>{{ blogtitle }}{% if title %} - {{ title }}{% endif %}</title>
    {% endblock %}
  </head>
  <body>
    <nav id='controls' style='text-align: right'>
    {% block nav %}
      {% if current_user.is_authenticated %}
        <a href="/account">[{{ current_user.display_name }}]</a> 
        <a href={{ url_for("logout") }}>[Logout]</a> 
      {% else %}
        <a href="/subscribe">[Subscribe]</a>
      {% endif %}
    {% endblock %}
    </nav>

    <div id="content">
    {% block content %}{% endblock %}
    </div>
    
    <div id="footer">
      {% block footer %}
      &copy; Copyright 2010 by <a href="http://domain.invalid/">you</a>.
      {% endblock %}
    </div>
  </body>
</html>



