<!doctype html>
<html>
  <head>
    {% block head %}
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='epiceditor/themes/preview/bartik.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{url_for("static", filename="js/jquery.js")}}"></script>
    <script src="{{url_for("static", filename="js/jquery-ui/jquery-ui.js")}}"></script>
    <link rel="stylesheet" href="{{url_for("static", filename="js/jquery-ui/jquery-ui.css")}}"></script>

    <title>{{ blogtitle }} - {{ title }}</title>
    {% endblock %}
  </head>
  <body>
    <nav id='controls' style='text-align: right'>
    {% block nav %}
      {% if current_user.is_authenticated %}
        <a href="/account">[{{ current_user.display_name }}]</a> 
        <a href={{ url_for("logout") }}>[Logout]</a> 
      {% else %}
        <a href="/subscribe">[Subscribe]</a>
      {% endif %}
    {% endblock %}
    </nav>

    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer %}
      &copy; Copyright 2010 by <a href="http://domain.invalid/">you</a>.
      {% endblock %}
    </div>
  </body>
</html>



