{% extends "_layout.html" %}

{% block head %}
  <style>
    html, body, #content { height: 100% }
  </style>

  {{ super() }}

  <script type="text/javascript" src="{{url_for("static", filename="js/datetime-polyfill.js")}}"></script>
  <link rel="stylesheet" href="{{url_for("static", filename="js/datetime-polyfill.css")}}">


{% endblock %}

{% block content %}


<script src={{ url_for("static", filename="epiceditor/js/epiceditor.js") }}></script>
<script>

$(document).ready(function() {
  editor = new EpicEditor({basePath: '/static/epiceditor',
                          textarea: 'post_content',
                          button: { bar: "show" },
                          focusOnLoad: true,
                          file: { defaultContent: "# Untitled\n\n\n" },
                          theme: {preview: "themes/preview/bartik.css"}
                         }).load(); //Note: intentionally global
  // wipe localstorage: it's a nuisance that other posts can show up
  // so just ignore this feature
  // getting it to work nicely would be awesome, though:
  // work on you drafts entirely offline and then post them when you get signal, with nothing but a phone and a browser
  /*editor.remove('epiceditor'); //
  editor.open('epiceditor'); // and then we need to reopen the now-empty file
  editor.unload();
  editor.load();*/
  // since it's empty, we get the "Untitled" 

  function upload(callback) {
  }
  Upload = upload

  $("#post_button").click(function() {
    
    var msg = {content: editor.exportFile(),
		acl: $("#post_acl").val()};
    $.post("/edit/", msg, function(resp) {
      resp = JSON.parse(resp);
      if(resp.success == true) {
        console.log("Saved post"); //TODO: handle exceptions, which will come back as json I guess
        if(resp.goto != "") {
           console.log("jumping ship");
           location = resp.goto;
        }
      }
    }, "json");

    return false; // stop bubbling
  });

});

</script>


<form style="height: 100%">
<div id="epiceditor" style="width: 100%; height: 80%"></div>
<textarea id="post_content" style="display: none">{{post_content}}</textarea>
<input type=text placeholder="Aspects" id="post_acl" value="{{post_acl}}" />

<!--- opera is the only browser with a fully working. everyone else needs to use some custom hack
  the best of the custom hacks is to use a polyfill: a js library which detects if it's needed and hacks stuff up so that the datetime input gets a GUI and on the API side appears to work fully 
  if javascript isn't available the polyfill won't work,
   so to cover that I'm writing the time format in the placeholder in that case 
  
  The only polyfill I've found so far is:
   https://jonstipe.github.io/datetime-polyfill/demo.html
   and it's unmaintained, a little bit ugly, but probably salvageable
  otherwise, I'll have to manually use Modernizr and a datetime widget
   http://xdsoft.net/jqplugins/datetimepicker/ looks nice. too bad it's not a polyfill.

 TODO: use datetime-local instead?
--->

<input type="datetime" id="post_date" step="900" placeholder="yyyy-mm-ddThh:mmZ" value="{{post_datetime}}" />
</script>
<button id="post_button">Post</button>
{% if live_link %}
  Permalink: <a href={{ live_link }}>{{live_link}}</a>
{% endif %}

<div id="instructions">
  There is no draft-saving. Instead, set permissions to "private".<br/>
  <tt>Alt-F</tt> toggles Fullscreen<br/>
  <tt>Alt-P</tt> toggles Preview<br/>
</div>

</form>

{% endblock %}
