{% extends "_layout.html" %}
{% block content %}
  <h1>{{ blogtitle }}</h1>

  <section>
  <p>This is a prototype blog engine, exploring wrapping ACLs around distributed identity.</p>

  <p>In plainer language this site (will) keeps a record of followers,
     and allows the admin to group them and then only publish certain posts to each group.
     Think Facebook "Lists", G+ "Circles", or Diaspora "Aspects", but actually distributed fully.

     It should be as easy, as exciting, and as functional as accepting a friend request.
     Except here, the process is someone clicks "<a href=/subscribe>Subscribe</a>", and starts receiving your public activity,
       and they are accepted if you choose to put them in groups (they don't get a notification that you've accepted them, except that they start seeing locked posts).
     Keeping records locally is the <em>distributed part</em>; having groups is the <em>ACL part</em>.
  </p>

  <p>Fuck the silos. We should---at least have the option to---<a href="https://indiewebcamp.com/own_your_data">own our data</a>.</p>
  </section>
  
  <section>
  <ul style='display: inline-block; width: 30%'>
   Posts:
   <li><a href={{ url_for("manage") }}>Owner</a>
       <a href={{ url_for("editor") }}>[New Post]</a></li>
   <li><a href={{ url_for("view_post_family") }}>Family</a></li>
   <li><a href={{ url_for("view_post_friends") }}>Friends Hard</a> 
   <a href={{ url_for("view_post", path="why-everything-sucks") }}>Friends Soft</a></li>
   <li><a href={{ url_for("view_post_public") }}>Public Hard</a>
   <a href={{ url_for("view_post", path="cooking-lessons") }}>Public Soft</a></li>
   <li><a href={{ url_for("view_post_default") }}>Default</a></li>
  </ul>
  
  <ul style='display: inline-block; width: 30%'>
   Login as
   <li><a href={{ url_for("login", user_id="kousu") }}>Owner</a></li>
   <li><a href={{ url_for("login", user_id="sister") }}>Family</a></li>
   <li><a href={{ url_for("login", user_id="mailto:jack@gmail.com") }}>Friend</a></li>
   <li><a href={{ url_for("logout") }}>Public</a></li>
  </ul>
  </section>
  
  <section>

  <h2>Design</h2>

  <p>Attempts at distributing identity are rocky.
     There's OpenID, courtesy of LiveJournal, but it's been forgotten and had a couple of security issues(?).
     Now there is OAuth, but accepting OAuth is too complicated to set up: only the silos have the resources to manage it, really.
     However, OAuth has started to catch on, with people commenting on news articles with their Facebook identities. I wouldn't do it, but you /can/, and Facebook isn't the only identity server around: Google, Twitter, Github,
     so maybe people are ready to.

     The centralized silos don't need to worry about distributed issues, beyond scaling their own systems.
     In distributed telecom, most of the systems are <u>push</u> messengers:
     email is the quintissential push messenger (even if most clients are pullers, the backend is all push); so is every IM protocol.
     Wordpress invented(?) and still supports trackbacks, which are hopefully to be superseded by <a href=https://indiewebcamp.com/webmention>webmentions</a>.
     <a href=http://joindiaspora.com>D*</a> is push too, I believe: when you post to an aspect, every server you had contacts on got notified.
     Push is good for latency, but it is bad for deployment and it is bad for privacy: because push demand that there be a server waiting to speak your protocol,
     push means everyone involve either has to set up a server (hard!) or find and trust someone else's. It is impossible to get everyone self-hosting like that.

  <!-- <p>(aside: where does <a href=http://urbit.org>urbit</a> fit into this taxonomy? It's pure p2p...</p> -->

  <p>This design is entirely pull based. This means means looser coupling which means it's a lot easier to deploy.
   If I care, I can deploy it and still work with the systems people already use, because I don't require always-on servers that speak my particular dialect of telecom (be that ICQ, XMPP, twitter, whatever),
   I just need *my* server to sit waiting for clients to come to it.
   (compare: webmentions need a kludgey <a href=http://brid.gy>proxy</a> which is subject to the whims of the silos' APIs in order to get everyone speaking the same dialect).
   Specifically, my idea is to base the interactions around RSS.
   Lots of people use feedreaders, and lots of others use blogging software which doubles as a feedreader (Tumblr, LJ, ..Wordpress?) even if they don't know it yet.
   When someone subscribes and a local (pseudoanonymous or otherwise) account is generated for them, they are given and auth link which will get them back in,
   and an RSS feed behind that auth link.
   In the feed, any public posts have their normal address, like <a href=/post/cooking-lessons>/post/cooking-lessons</a> but
   locked posts get prefixed with the auth link, like <a href=/auth/25253453454353sffsdgt34ve?next=/post/why-everything-sucks>/auth/25253453454353sffsdgt34ve?next=/post/why-everything-sucks</a>.
   to the subscriber, the feed will appear just like any other, but the author will be able to decide how much to share and with who, without needing to use Facebook privacy controls or Twitter protected accounts.

   </p>
  
  <p>    For now, all identities are simply pseudoanonymous.
     But when this is done, people will be able to use any identity they like: email, facebook, twitter, github, livejournal, even their SMS number maybe (<a href=http://indieauth.com>indieauth</a> has this working, so it can't be that expensive).
     <a href=http://psa.matiasaguirre.net/>python-social-auth</a> is the hammer for this job.

     </p>
  
  
  <h2>Explore</h2>
  <p>On the right below there are login links, which will let you use the system as various actors. Currently, the group memberships are hardcoded in blog.py.
     When you are logged in you will see your identity in the upper right.</p>
  <p>On the left are all the interesting pages on the side, in some order.
     (This list is not complete, because for any <i>p</i> /post/&lt;<i>p</i>&gt; is a valid link, if <i>p</i> exists in the filesystem.)
     If the system is working right, then when you are the Owner you will have access to all pages,
     when you are Sister you will have access to the Family post and the public post but not the others.
     and vice versa when you are logged in as the Friend.
     When you are logged out (aka Public) you only have access to the public posts.
  </p>
  
  <h2>UX</h2>
  <p>A key part of making this work will be having good <a href=/edit/>editor</a> UX.
     The editor must both be smooth itself, and hook cleanly and most importantly reliably into the ACL system.
     The core of the editor is the excellent <a href="https://github.com/OscarGodson/EpicEditor/">EpicEditor</a>.
     But a lot more work is needed.
  </p>
  
  <p>Other important UX points are: making sure to communicate to subscribers that the links they are given are equivalent to sharing gossip,
      and so that their links can and will be revoked if they are shared. LJ had reasonably prominent lock icons.
      Making a good groups editor is important.
      Also, not calling the accounts here "accounts": people hate having accounts to keep track of;
      call them "keys" or "petnames" or something.
     </p>
  
  </section>
{% endblock %}

