{% extends "_layout.html" %}
{% block content %}
  <h1>{{ blogtitle }}</h1>
  <p>Welcome to my blog.</p>
  <ul style='display: inline-block; width: 30%'>
   Are you
   <li><a href={{ url_for("manage") }}>Owner</a>
       <a href={{ url_for("editor") }}>[New Post]</a></li>
   <li><a href={{ url_for("view_post_family") }}>Family</a></li>
   <li><a href={{ url_for("view_post_friends") }}>Friends Hard</a> 
   <a href={{ url_for("view_post", path="why-everything-sucks") }}>Friends Soft</a></li>
   <li><a href={{ url_for("view_post_public") }}>Public Hard</a>
   <a href={{ url_for("view_post", path="cooking-lessons") }}>Public Soft</a></li>
   <li><a href={{ url_for("view_post_default") }}>Default</a></li>
  </ul>
  
  <ul style='display: inline-block; width: 30%'>
   Login as
   <li><a href={{ url_for("login", user_id="kousu") }}>Owner</a></li>
   <li><a href={{ url_for("login", user_id="sister") }}>Family</a></li>
   <li><a href={{ url_for("login", user_id="mailto:jack@gmail.com") }}>Friend</a></li>
   <li><a href={{ url_for("logout") }}>Public</a></li>
  </ul>
{% endblock %}

