{% extends "_layout.html" %}
{% block nav %}
  {% if g.acl.check(current_user, "editor", post=request.view_args['post']) %}
  <a href={{url_for("editor", post=request.view_args['post'])}}>[Edit]</a>
  {% endif %}
  {{ super() }}
{% endblock %}

{% block content %}
  <div id='post'>
    {{ post.content.render()|safe }}
    {% if post.author %}<div style="opacity: 50%">By: {{ post.author }}</div>{% endif %}
    <div style="opacity: 50%">Published: {{ post.date.ctime() }}</div>
    {% if post.updated %}<div style="opacity: 50%">Updated: {{ post.updated.ctime() }}</div>{% endif %}
  </div>
  
  {% if comments %}
  <div id='comments'>
    {% for comment in comments %}
      {{ comment|tojson }}
    {% endfor %}
  </div>
  {% endif %}
{% endblock %}
