# Don't commit meeeeeeeeeee
# each entry in this dict should be sitename: {id: ..., secret: ....}
# Note: OAuth1 calls 'id' the "consumer key". We just always use the OAuth2 terminology, regardless.

#OAuth1 apps
tumblr:
  id: 3cpTdV0ECUX0xU37tioXkY_19u9ZuPx5LvuzVILVQpI=
  secret: 3cpTdV0ECUX0xU37tioXkY_19u9ZuPx5LvuzVILVQpI=

twitter:
  id: 3cpTdV0ECUX0xU37tioXkY_19u9ZuPx5LvuzVILVQpI=
  secret: 3cpTdV0ECUX0xU37tioXkY_19u9ZuPx5LvuzVILVQpI=

#OAuth2 apps
google:
  id: 3cpTdV0ECUX0xU37tioXkY_19u9ZuPx5LvuzVILVQpI=
  secret: 3cpTdV0ECUX0xU37tioXkY_19u9ZuPx5LvuzVILVQpI=
google:
  id: 3cpTdV0ECUX0xU37tioXkY_19u9ZuPx5LvuzVILVQpI=
  secret: 3cpTdV0ECUX0xU37tioXkY_19u9ZuPx5LvuzVILVQpI=
google:
  id: 3cpTdV0ECUX0xU37tioXkY_19u9ZuPx5LvuzVILVQpI=
  secret: 3cpTdV0ECUX0xU37tioXkY_19u9ZuPx5LvuzVILVQpI=
github:
  id: 3cpTdV0ECUX0xU37tioXkY_19u9ZuPx5LvuzVILVQpI=
  secret: 3cpTdV0ECUX0xU37tioXkY_19u9ZuPx5LvuzVILVQpI=
facebook:
  id: 3cpTdV0ECUX0xU37tioXkY_19u9ZuPx5LvuzVILVQpI=
  secret: 3cpTdV0ECUX0xU37tioXkY_19u9ZuPx5LvuzVILVQpI=

sms:
 id: 5555555555@s.ms
 secret: 3cpTdV0ECUX0xU37tioXkY_19u9ZuPx5LvuzVILVQpI=

#Email server to send as
# email is stupid because it's old and hindsight is 20/20:
#  the identity you log in with is not the identity you have to send from
# Though on some (most of the webmail providers, at least?) you can only send as your login id or as an id you've vetted with them
# on gmail id is your @gmail.com address
# on OpenSMTPD your ID is your unix username and your from address can be anything, *even at a domain you're not hosting*.
# The assumption is that if you're allowed to log in you're allowed to do anything, which is maybe kinda weak.
# I dunno about sendmail or exim
email:
  server: smtp.gmail.com
  id: you@gmail.com
  secret: 3cpTdV0ECUX0xU37tioXkY_19u9ZuPx5LvuzVILVQpI=
  from: noreply@gmail.com
  starttls: yes
